<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        padding: 1rem;
        max-width: 100vh;
        margin: 0 auto; 
      }
      .title {
        font-size: 1.4rem;
      }
      .posts {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
      .post {
        padding: 1rem 0rem;
      }
    </style>
  </head>
  <body>
      <div class="posts">
        {{if .User}} 
         <span>{{.User}}</span>
         <a href="/logout">Logout</a>
        {{else}}
        <div class="">
          <a href="/login">Login</a>
          <a href="/user">Register</a>
        </div>
        {{end}}
        {{range .Posts}}
            <div class="post">
              <a href="/post/{{.ID}}" class="title">{{.Title}}</a>
              <div>{{.Created_at}}<div>
              <div>{{.Created_by}}<div>
            </div>
        {{end}}
      </div>
  </body>
</html>
