<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        padding: 1rem;
        max-width: 100vh;
        margin: 0 auto; 
      }
      .title {
        font-size: 1.2rem;
      }
      nav {
        display: flex;
        gap: 2rem
      }
      .info {
        display: flex;
        gap: 0.8rem;
      }
      .posts {
        padding-top: 3rem;
        display: flex;
        flex-direction: column;
      }
      .post {
        padding: 0.5rem 0rem;
      }
    </style>
  </head>
  <body>
      {{if .User}} 
        <nav>
          <span>{{.User}}</span>
          <a href="/create">Create</a>
          <a href="/logout">Logout</a>
        </nav>
      {{else}}
        <nav>
          <a href="/login">Login</a>
          <a href="/user">Register</a>
        </nav>
      {{end}}
      <div class="posts">
        {{range .Posts}}
            <div class="post">
              <a href="/post/{{.ID}}" class="title">{{.Title}}</a>
              <div class="info">
                <span>{{.Created_by}}</span>
                <span>{{.Created_at}}</span>
              </div>
            </div>
        {{end}}
      </span>
  </body>
</html>
