<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="p-4">
    <a href="/">Back</a>
    <ul>
      <li>{{.Post.Title}}</li>
      <li>{{.Post.Content}}</li>
      <li>{{.Post.ID}}</li>
      <li>{{.Post.Created_at}}</li>
      <a href="/reply/post/{{.Post.ID}}">Reply</a>
      {{if .Threads}}
      <ul>
        {{range .Threads}} {{template "node" .}} {{end}}
      </ul>
      {{end}}
    </ul>
    <!-- {{block "node" .}}
	<li>{{.Content}}</li>
    <li>{{.Created_at}}</li>
    <a href="/reply/thread/{{.Post_id}}/{{.ID}}">Reply</a>
	<li>Thread ID{{.ID}}</li>
	<li>Post Id {{.Post_id}}</li>
    {{if .Thread_id.String}}
        <li> thread id {{.Thread_id.String}}</li>
    {{end}}
	{{if .Children}}
		<ul>
		{{range .Children}}
			{{template "node" .}}
		{{end}}
		</ul>
	{{end}}
	{{end}} -->
  </body>
</html>
